<div *ngIf="student">
    <div>
      <h2 class="colorWhite">Detalhes do Estudante: {{student.name}}</h2>
      <div>
        <label for="student-id">id </label>
        <input id="student-id" [(ngModel)]="student.id" placeholder="id">
      </div>
        <div>
            <label for="student-name">Nome </label>
            <input id="student-name" [(ngModel)]="student.name" placeholder="Nome">
          </div>
          <div>
            <label for="student-cod">Código </label>
            <input id="student-cod" [(ngModel)]="student.cod" placeholder="Código">
          </div>
          <div>
            <label for="student-cpf">CPF </label>
            <input id="student-cpf" [(ngModel)]="student.cpf" placeholder="CPF">
          </div>
          <div>
            <label for="student-rg">RG </label>
            <input id="student-rg" [(ngModel)]="student.rg" placeholder="RG">
          </div>
          <div>
            <label for="student-mae">Nome da mãe </label>
            <input id="student-mae" [(ngModel)]="student.mae" placeholder="Nome da mãe">
          </div>
          <div>
            <label for="student-pai">Nome da pai </label>
            <input id="student-pai" [(ngModel)]="student.pai" placeholder="Nome do pai">
          </div>
          <div>
            <label for="student-nascimento">Data de nascimento </label>
            <input id="student-nascimento" [(ngModel)]="student.nascimento" placeholder="Data de nascimento">
          </div>
          <div>
            <label for="student-sexo">Sexo </label>
            <input id="student-sexo" [(ngModel)]="student.sexo" placeholder="Sexo">
          </div>
          <div>
            <label for="student-idade">Idade </label>
            <input id="student-idade" [(ngModel)]="student.idade" placeholder="Idade">
          </div>
  </div>